%form.form-horizontal
  .control-group
    %label.control-label{for: 'palette_id'}
      Palette ID:
    .controls
      = text_field_tag 'palette_id'

.row-fluid
  .span2.offset1
    #color1.color-swatch
  .span2
    #color2.color-swatch
  .span2
    #color3.color-swatch
  .span2
    #color4.color-swatch
  .span2
    #color5.color-swatch
